.container {
  max-width: 1000px;
  padding: 20px;
}

img {
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #000000;
}

#personalBackground {
  background-color: bisque;
  padding: auto;
}

#experience {
  background-color: azure;
  padding: auto;
}

#programmingLanguages {
  background-color: bisque;
  padding: auto;
}

#achievements {
  background-color: azure;
  padding: auto;
}

#games {
  background-color: bisque;
  padding: auto;
}